body {
  background-image: url("./../../../public/assets/admin_bg.png");
  // background-size: 100%;
  color: white;
  text-align: center;
}

img {
  user-select: none;
}

.main-container {
  width: 100%;
  height: 100%;
  // background-color: rgba(0,0,0,0.5);
  user-select: none;
}

.game-container {
  width: 100%;
  height: 100%;

  .center-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.clue {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.level-directory {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ui.buttons {
    margin: 2px;
  }
}

.game-board {
  position: relative;
  margin: 10px;
  // background-color: yellow;

  &.disabled {
    z-index: -100;
    margin: -42px;
  }

  .element {
    position: absolute;
    background-color: black;

    &.element-w {
      background-color: blue;
    }
    &.element-f {
      background-color: red;
    }
    &.element-g {
      background-color: green;
    }
  }

  .move-button {
    position: absolute;
    cursor: pointer;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.move-up {
      transform: rotate(270deg);
    }
    &.move-down {
      transform: rotate(90deg);
    }
    &.move-left {
      transform: rotate(180deg);
    }
    &.move-right {
    }
  }
}

h1.ui.header.game-title {
  padding-top: 15%;
  font-size: 4vw;
}

.menu-link-container {
  padding-top: 4%;

  .ui.transparent.input input {
    text-align: center;
  }
}

h2.ui.header.menu-link {
  font-size: 3vw;
}
